@page
@model Lab8.Pages.TV.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shows</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Episode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Episode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Season)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Season)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Rating)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Shows.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
