@page
@model Lab8.Pages.TV.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shows</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Episode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Episode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Season)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Season)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shows.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shows.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shows?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
